In [ ]:
import os
from pathlib import Path
from mne.io import read_raw, read_raw_ant
from mne_bids import BIDSPath, write_raw_bids
from tqdm.contrib import tzip
from tqdm import tqdm
from mne import set_log_level
set_log_level("Error")

In [ ]:
root_dir = Path("/Volumes/Extreme_SSD/payam_data/Tide_data")
bids_dir = root_dir / "BIDS"

site = "regensburg"
data_dir = root_dir / site

files = [Path("/Users/payamsadeghishabestari/Downloads/OneDrive_1_13-11-2025/50044_restingstate.vhdr"),
        Path("/Users/payamsadeghishabestari/Downloads/OneDrive_2_13-11-2025/50033_restingstate.vhdr"),
        ]
        

subject_ids = [f.stem[:5] for f in files]
for fname, subject_id in tzip(files, subject_ids,
                                        total=len(subject_ids),
                                        desc=f"Converting {site}"):
    print(fname)
    print(subject_ids)
    raw = read_raw(fname)
    bids_path = BIDSPath(
                subject=subject_id,
                session="01",
                task="rest",
                datatype="eeg",
                description=site,
                root=bids_dir
            )
    write_raw_bids(raw, bids_path=bids_path, overwrite=True)

extract behavioural metrics

In [ ]:
## neuroharmonize

## nm

## post hoc checks

Index(['site', 'study_id', 'intro_gender', 'esit_a1', 'hq_score',
       'hq_attentional_score', 'hq_social_score', 'hq_emotional_score',
       'hads_d_score', 'hads_a_score', 'esit_a8_tin', 'esit_a8_hl',
       'tfi_score', 'thi_score', 'psq_score', 'PTA4_mean', 'PTA_HF_mean',
       'PTA_TIDE_mean'],
      dtype='object')

In [160]:
df_all

,site,subject_id,sex,age,hq_score,hq_attentional_score,hq_social_score,hq_emotional_score,hads_d_score,hads_a_score,group,hearing_loss,tfi_score,thi_score,psq_score,PTA4_mean,PTA_HF_mean,PTA_TIDE_mean
8,austin,10001,2,58,8,2,2,4,4,9,1,1,18.8,18.0,0.288889,14.375,56.875000,20.625
0,austin,10003,1,69,5,2,2,1,0,0,0,1,13.2,12.0,0.277778,11.250,48.333333,15.000
2,austin,10004,1,20,11,1,8,2,5,7,0,0,32.0,36.0,0.500000,5.625,21.875000,3.125
9,austin,10006,2,56,13,3,6,4,4,10,1,0,28.4,36.0,0.666667,25.625,58.958333,32.500
36,austin,10009,1,48,18,6,8,4,0,3,0,0,24.8,6.0,0.333333,5.625,32.500000,6.250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,tuebingen,60088,2,20,5,2,3,0,12,9,0,0,NaN,NaN,0.411111,18.875,23.000000,19.375
160,tuebingen,60090,2,24,8,4,1,3,0,7,0,0,12.8,10.0,0.211111,5.625,26.600000,6.875
161,tuebingen,60092,2,55,8,2,2,4,0,1,0,0,NaN,NaN,0.300000,6.375,13.600000,5.250
162,tuebingen,60093,2,51,2,0,1,1,0,1,0,0,NaN,NaN,0.322222,6.125,36.000000,13.250
163,tuebingen,60094,2,55,10,4,3,3,5,8,0,0,NaN,NaN,0.444444,9.250,42.000000,12.375